<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="C6Admin Test Suite">
            <directory>app/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app/src</directory>
        </include>
    </source>
    <php>
        <!-- Configure test schema directories for CRUD6 integration tests -->
        <env name="TEST_SCHEMA_DIRS" value="app/schema/crud6"/>
    </php>
</phpunit>
